<!DOCTYPE html>
<html>
<head>
<title>Student Dashboard</title>
</head>

<body>

<h2>Student Dashboard</h2>

<a href="/logout">Logout</a>

<hr>

<h3>Available Placement Drives</h3>

<table border="1">

<tr>
<th>Company</th>
<th>Role</th>
<th>Deadline</th>
<th>Action</th>
</tr>

{% for drive in drives %}

<tr>

<td>{{drive.company_name}}</td>
<td>{{drive.job_title}}</td>
<td>{{drive.deadline}}</td>

<td>
<a href="/apply/{{drive.id}}">Apply</a>
</td>

</tr>

{% endfor %}

</table>

<hr>

<h3>My Applications</h3>

<table border="1">

<tr>
<th>Company</th>
<th>Role</th>
<th>Status</th>
</tr>

{% for app in applications %}

<tr>
<td>{{app.company}}</td>
<td>{{app.role}}</td>
<td>{{app.status}}</td>
</tr>

{% endfor %}

</table>

</body>
</html>
